<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--index.js 추가-->
<script src="/js/app/index.js"></script>
<!-- css는 header에 js와 bootstrap은 footer에 ==> 속도향상을 위함 (부트스트랩은 제이쿼리가 필요하기때문에 제이쿼리가 위  -->
</body>
</html>